@tailwind base;
@tailwind components;
@tailwind utilities;

.shopcontainer {
  background-image: url(https://i.ibb.co/jVV80Qd/Background.png), linear-gradient(rgb(43, 119, 57), rgb(64, 178, 60));

}

.swiper-container {
  width: 750px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
}

.blogfirst {
  background-image: url(https://i.ibb.co/4s4mWfq/maxresdefault.jpg), linear-gradient(rgba(24, 25, 24, 0.734), rgba(32, 35, 32, 0.694));
  background-repeat: no-repeat;
  background-size: 47vw;
  background-position: center;
  background-blend-mode: overlay;
  border-radius: 20px;
}
.blogsecond {
  background-image: url(https://i.ibb.co/r3SMqFq/i-Stock-1175701660-houseplant-instagram.webp), linear-gradient(rgba(24, 25, 24, 0.695), rgba(32, 35, 32, 0.654));
  background-repeat: no-repeat;
  background-size: 47vw;
  background-position: center;
  background-blend-mode: overlay;
  border-radius: 20px;
}
.gallery:hover{
  transform: rotate(20deg);
}
.cardss:hover{
  transform: rotate(2deg);
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .blogfirst{
    background-size: 100vw;
  }
  .blogsecond {
    background-size: 100vw;
  }
}